{% extends 'clinica/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/mascota.css' %}">
{% endblock %}

{% block content %}
  <h2>Registrar Nueva Mascota</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
      <div class="botones-formulario">
        <button type="submit" class="btn guardar">Guardar</button>
        <a href="{% url 'gestionar_mascotas' %}" class="btn volver">Volver</a>
      </div>
    </form>
  </div>
{% endblock %}