{% extends 'clinica/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/mascota.css' %}">
{% endblock %}

{% block content %}
<div class="background-curve"></div>
<div class="formulario-mascota-container">
  <form method="post">
    <h2>Registrar Nueva Mascota</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="botones-formulario">
      <button type="submit" class="btn guardar">Guardar</button>
      <a href="{% url 'gestionar_mascotas' %}" class="btn volver">Volver</a>
    </div>
  </form>
</div>
{% endblock %}