{% extends 'clinica/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/citas.css' %}">
{% endblock %}

{% block content %}
<div class="background-curve"></div>

<div class="citas-container">
  <h2>Editar Cita</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-botones">
      <button type="submit" class="btn guardar">Guardar</button>
      <a href="{% url 'gestionar_citas' %}" class="btn volver">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}