{% extends 'clinica/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/citas.css' %}">
{% endblock %}

{% block content %}
<div class="background-curve"></div>

<div class="citas-container">
  <h2>Confirmar eliminación</h2>
  <p>¿Estás seguro de que deseas eliminar esta cita con fecha <strong>{{ consulta.fecha }}</strong>?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn eliminar">Eliminar</button>
    <a href="{% url 'gestionar_citas' %}" class="btn volver" style="margin-left: 10px;">Cancelar</a>
  </form>
</div>
{% endblock %}