{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigos Peludos</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="wave">
            <img src="{% static 'img/bg.png' %}" alt="">
        </div>

        <nav>
            <ul>
                <li><a href="{% url 'landing' %}">Inicio</a></li>
                <li><a href="{% url 'services' %}">Servicios</a></li>
                <li><a href="{% url 'gestionar_mascotas' %}">Mascotas</a></li>
                <li><a href="{% url 'gestionar_duenos' %}">Dueños</a></li>
                <li><a href="{% url 'gestionar_veterinarios' %}">Veterinarios</a></li>
                <li><a href="{% url 'gestionar_citas' %}">Citas</a></li>
                <li><a href="{% url 'gestionar_medicamentos' %}">Medicamentos</a></li>
                <li><a href="{% url 'gestionar_cirugias' %}">Cirugia</a></li>
        </ul>
            </ul>
            <img src="{% static 'img/logo.png' %}" alt="">
        </nav>

        <div class="main-content">

            <div class="image-carrousel">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="{% static 'img/img1.png' %}" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'img/img2.png' %}" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'img/img3.png' %}" alt=""></div>    
                    </div> 
                </div>
            </div>
            <div class="main-text">
                <h1>Amigos Peludos</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.</p>
                <div class="botones-acciones">
                    <a href="{% url 'services' %}" class="boton-redondo">¡Conoce más!</a>
                    <a href="{% url 'exportar_todo' %}" class="boton-redondo">📦 Exportar Datos</a>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="box">
                <div class="image">
                    <img src="{% static 'img/img4.png' %}" alt="">
                </div>
                <div class="inner-box">
                    <h3>Atención 24 / 7</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="{% static 'img/img5.png' %}" alt="">
                </div>
                <div class="inner-box">
                    <h3>Presupuesto adaptable</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="{% static 'img/img6.png' %}" alt="">
                </div>
                <div class="inner-box">
                    <h3>Los mejores profesionales</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>

        <div class="social-links">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="far fa-envelope"></i>
        </div>
    </div>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
        });
    </script>
</body>
</html>